@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body{
    background-color: #403a35 !important;
    font-family: 'Mulish', sans-serif !important;
}
.gif {
    display: flex;
    justify-content: center;
}
#page-title {
    font-family: 'Limelight', cursive;
    color: yellow !important;
    font-size: 5rem;
}
.edit-button, .delete-button {
    background-color: black;
    color: white;
    height: 3rem;
}
#movie-form{
    margin: 0 auto;
    width: 50%;
}
#newDescription{
    height: 85px;
}
.form-control{
    margin-top: 1em;
    margin-bottom: 1em;
}
#new-movie-submit{
    margin-bottom: 10em;
}


.rating {
    width: 180px;
}

.ratingStar:hover {
    filter: drop-shadow(1px 1px 4px gold);
}

.ratingStar {
    color: #dabd18b2;
}
li{
    list-style: none;
}